@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif; 
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}
@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
}

@keyframes oscillate {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    50% {
      transform: translateY(10px);
      opacity: 0.8;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
@layer components {
    .background {
        @apply dark:bg-neutral-950 bg-neutral-200 transition-colors min-h-screen py-10 px-[5%] overflow-y-auto no-scrollbar selection:text-blue-500;
    }

    .header {
        @apply dark:text-neutral-800 text-neutral-400 transition-colors flex flex-row items-center justify-between;
    }

    .title {
        @apply font-montserrat font-extralight dark:text-neutral-300 text-neutral-700 transition-colors text-6xl text-center;
    }

    .section {
        @apply font-montserrat font-light dark:text-neutral-300 text-neutral-700 transition-colors text-4xl mb-4 pt-4
    }

    /* .theme-toggle {
        @apply flex items-center justify-end dark:hover:text-neutral-300 hover:text-neutral-800 transition-colors;
    } */

    .theme-toggle-icon {
        @apply dark:text-neutral-300 text-neutral-800 transition-colors text-lg font-bold size-6;
    }

    .gradient-bg {
        @apply dark:bg-gradient-to-br dark:from-neutral-200 dark:to-neutral-400 bg-gradient-to-br from-neutral-500 to-neutral-700
        
    }

    .skill-bubble {
        @apply px-2 gradient-bg rounded-lg shadow-md font-montserrat font-normal dark:text-neutral-800 text-neutral-300 transition-colors text-lg cursor-default
    }
    
    .fade-in {
        @apply transition-opacity ease-in duration-300
    }


}
